---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  font-family:  "Noto Sans JP", "Yu Gothic", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

.site-header {
  @media screen and (max-width:480px) {
    line-height: 40px;
  }

  a {
    &.site-title {
      font-size: 1.4rem;
    }
  }
}

.page-content {
  .post-link {
    font-size: 1.2rem;
  }
}

article {
  line-height: 2;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

h1 {
  &.post-title {
    font-size: 1.75rem;
    letter-spacing: 0;
  }
}

.post-content {
  h1 {
    margin-top: 30px;
  }

  h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    border-bottom: 1px solid #607d8b;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .flex-evenly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-evenly;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;


    .post-741-app {
      width: 22%;

      margin-bottom: 15px;
    }

    @media screen and (max-width: 768px){
      flex-wrap: wrap;

      .post-741-app {
        width: 45%;
      }
    }
  }

  #share-bar {
    margin-top: 30px;
  }
}
