---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSans_regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSans_regular.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Noto Sans JP", "Yu Gothic", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

.site-header {
  a {
    &.site-title {
      font-size: 1.4rem;
    }
  }
}

.page-content {
  .post-link {
    font-size: 1.2rem;
  }
}

article {
  line-height: 2;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

h1 {
  &.post-title {
    font-size: 1.75rem;
    letter-spacing: 0;
  }
}

.post-content {
  .section-nav {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-size: 0.9rem;
  }

  h1 {
    margin-top: 30px;
  }

  h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    border-bottom: 1px solid #607d8b;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .flex-evenly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-evenly;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;


    .post-741-app {
      width: 22%;

      margin-bottom: 15px;
    }

    @media screen and (max-width: 768px){
      flex-wrap: wrap;

      .post-741-app {
        width: 45%;
      }
    }
  }

  #share-bar {
    margin-top: 30px;
  }
}
