---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
  @media screen and (max-width:480px) {
    line-height: 40px;
  }

  a {
    &.site-title {
      font-size: 1.4rem;
    }
  }
}

.page-content {
  .post-link {
    font-size: 1.2rem;
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

h1 {
  &.post-title {
    font-size: 1.75rem;
    letter-spacing: 0;
  }
}

.post-content {
  h1 {
    margin-top: 30px;
  }

  h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    border-bottom: 1px solid #607d8b;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  #share-bar {
    margin-top: 30px;
  }
}
